

.font-size-unset{
  font-size: unset!important;
}
.font-size-025{
  font-size: .25rem!important;
}
.font-size-05{
  font-size: .5rem!important;
}
.font-size-075{
  font-size: .75rem!important;
}
.font-size-08{
  font-size: .8rem!important;
}
.font-size-085{
  font-size: .85rem!important;
}
.font-size-09{
  font-size: .9rem!important;
}
.font-size-1{
  font-size: 1rem!important;
}
.font-size-11{
  font-size: 1.1rem!important;
}
.font-size-12{
  font-size: 1.2rem!important;
}
.font-size-125{
  font-size: 1.25rem!important;
}
.font-size-15{
  font-size: 1.5rem!important;
}
.font-size-155{
  font-size: 1.55rem!important;
}
.font-size-175{
  font-size: 1.75rem!important;
}
.font-size-2{
  font-size: 2rem!important;
}
.font-size-25{
  font-size: 2.5rem!important;
}
.font-size-3{
  font-size: 3rem!important;
}
.font-size-35{
  font-size: 3.5rem!important;
}
.font-size-4{
  font-size: 4rem!important;
}



